{
    "lcdv2_daily_prior_years": {
        "last_ingested_year": null,
        "last_ingested_file": null,
        "last_ingested": null,
        "last_successful_full_run_timestamp": null
    },
    "lcdv2_daily_current_year": {
        "last_ingested_station": null,
        "last_ingested": null,
        "last_run_station_count": null,
        "last_successful_full_run_timestamp": null
    },
    "acs": {
        "last_ingested": null
    },
    "tiger_tracts": {
        "last_ingested": null
    },
    "elevation": {
        "last_ingested": null
    },
    "lcdv2_station_metadata": {
        "last_ingested": null
    }
}