# Virtual environments
venv_main/
venv_dbt/

# Data lake (raw + processed)
data/

# Local secrets
.env

# State files
src/comfort_index_pipeline/state/ingestion_state.json

# Python cache
__pycache__/
*.pyc


# DuckDB database files
*.duckdb
*.duckdb.wal

# dbt build artifacts
dbt/target/
dbt/logs/

# Jupyter checkpoints
.ipynb_checkpoints/

# Egg directory
*.egg-info/
