agate==1.9.1
annotated_types==0.7.0
attrs==26.1.0
babel==2.18.0
certifi==2026.5.20
charset_normalizer==3.4.7
click==8.4.1
colorama==0.4.6
daff==1.4.2
dbt_adapters==1.24.2
dbt_common==1.38.0
dbt_core==1.11.11
dbt_duckdb==1.10.1
dbt_extractor==0.6.0
dbt_protos==1.0.514
dbt_semantic_interfaces==0.9.0
deepdiff==8.6.2
duckdb==1.5.3
idna==3.18
importlib_metadata==8.9.0
isodate==0.7.2
jinja2==3.1.6
jsonschema==4.26.0
jsonschema_specifications==2025.9.1
leather==0.4.1
markupsafe==3.0.3
mashumaro==3.14
more_itertools==10.8.0
msgpack==1.1.2
networkx==3.6.1
orderly_set==5.5.0
packaging==26.2
parsedatetime==2.6
pathspec==0.12.1
pip==26.1.2
protobuf==6.33.6
pydantic==2.13.4
pydantic_core==2.46.4
python_dateutil==2.9.0.post0
python_slugify==8.0.4
pytimeparse==1.1.8
pytz==2026.2
pyyaml==6.0.3
referencing==0.37.0
requests==2.34.2
rpds_py==2026.5.1
six==1.17.0
snowplow_tracker==1.1.0
sqlparse==0.5.5
text_unidecode==1.3
typing_extensions==4.15.0
typing_inspection==0.4.2
tzdata==2026.2
urllib3==2.7.0
zipp==4.1.0